.button {
  color: var(--white);
  background-color: var(--btn-primary);
  padding: 12px 20px;
  border-radius: 1px;
  font-size: 16px;
  font-weight: 500;

  &:hover {
    background-color: var(--btn-primary-hover);
  }
}
