:global {
  body[data-theme='light'] {
    --not-found-color: var(--gray-300);
  }

  body[data-theme='dark'] {
    --not-found-color: var(--white);
  }
}

.notFound {
  color: var(--not-found-color);
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
}
