:global {
  body[data-theme='light'] {
    --header-color: var(--gray-300)
  }

  body[data-theme='dark'] {
    --header-color: var(--white)
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.headerText {
  color: var(--header-color);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
